<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>S3 파일 업로드 테스트</title>
</head>
<body>
    <h1>파일 업로드</h1> <hr>

        <form id="upload01">
            제목 : <input type="text" name="title"> <br>
            파일 : <input type="file" name="file" multiple> <br>

        </form>
        <button id="btn_save">등록하기</button>
        <hr>

        <div th:each="gallery : ${galleryList}">

            <div style="margin-bottom: 30px">

                <p th:inline="text">제목 : [[${gallery.title}]]</p>
                <img th:src="${gallery.imgFullPath}" style="width: 500px; height: 300px;">
            </div>


            <form th:class="|detail${gallery.id}|">
                <input type="hidden" name="id" class="id" th:value="${gallery.id}">
                <input type="hidden" name="title" th:value="${gallery.title}">
                <input type="hidden" name="filePaths" th:value="${gallery.filePath}">
                파일 : <input type="file" name="file" multiple>

            </form>

            <br>
            <button th:onclick="|gallery.update(${gallery.id})|" class="btn_update" >수정하기</button>
            <button th:onclick="|gallery.delete(${gallery.id})|" class="btn_delete">삭제하기</button>


            <hr>

        </div>

    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="/js/gallery.js"></script>

</body>
</html>